#agenda {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-block: 200px;
   height: fit-content;
   width: fit-content;
   border: none;
   
}

#agenda_description {
   position: relative;
   margin: 0 auto;
   background: linear-gradient(to bottom,    rgba(1, 12, 12, 0.221), rgba(92, 201, 201, 0.221),  rgba(1, 12, 12, 0.221))           ;
   width: 78vw;
   margin: auto;
   box-shadow: rgba(234, 234, 239, 0.542) 0px 7px 29px 0px;
   border-radius: 10px;
}

#agenda_description h1 {
   text-align: center;
   padding: 10px;
   font-size: xx-large;
   margin-block: 20px;
}


agendaSlide {
   display: flex;
   aspect-ratio: 1/0.3;
   scroll-snap-type: x mandatory;
   overflow-x: auto;
   scroll-behavior: smooth;

}

.topic {

   flex: 1 0 100%;
   scroll-snap-align: start;

   width: fit-content;
   scrollbar-width: none;
   display: flex;
   flex-direction: column;


}

.topic .topic_description {

   text-align: center;
   padding: 20px;
   width: auto;
   margin: auto;


}

.topic h2 {
   font-size: 4vh;
   padding-block-start: 3vh;
   padding-inline-start: 1rem;
}

.topic h4 {
   padding: 0.5rem 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: x-large;
}

.topic p {
   font-size: large;
}

.topic note p {
   padding-block: 15px;

}



@media only screen and (max-width: 480px) {

   #agenda {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block: 20vh;
      height: fit-content;
      width: fit-content;
   }

   #agenda_description {
      position: relative;
      margin: 0 auto;
      
     z-index: 0;
      width: 78vw;
      margin: auto;
   }

   #agenda_description h1 {
      text-align: center;
      padding: 3vh;
      font-size: xx-large;
      margin-block: 2vh;
   }


   agendaSlide {
      display: flex;
      aspect-ratio: 1/1;
      scroll-snap-type: x mandatory;
      overflow-x: auto;
      scroll-behavior: smooth;

   }

   .topic .topic_description {
      padding: 3vw;
      margin-top: 1vh;
      
   }

   .topic h2 {
      font-size: 25px;
      padding-block-start: 1vh;
      padding-inline-start: 1rem;
   }

   .topic h4 {
      padding: 0.5rem 0;

      font-size: large;
   }

   .topic p {
      font-size: small;
   }

   .topic note p {
      padding-block: 3vh;
      font-size: medium;
   }


}

@media only screen and (max-width: 400px) {
   
   #agenda {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block: 20vh;
   
      height: fit-content;
      width: fit-content;
   }

   #agenda_description {
      position: relative;
      margin: 0 auto;
      
     z-index: 0;
      width: 78vw;
      margin: auto;
   }

   #agenda_description h1 {
      text-align: center;
      padding: 3vh;
      font-size: xx-large;
      margin-block: 2vh;
   }


   

   agendaSlide {
      display: flex;
      aspect-ratio: 1/1;
      scroll-snap-type: x mandatory;
      overflow-x: auto;
      scroll-behavior: smooth;

   }

   .topic .topic_description {
      padding: 3vw;
      margin-top: 1vh;
      
   }

   .topic h2 {
      font-size: 25px;
      padding-block-start: 1vh;
      padding-inline-start: 1rem;
   }

   .topic h4 {
      padding: 0.5rem 0;

      font-size: large;
   }

   .topic p {
      font-size: small;
   }

   .topic note p {
      padding-block: 3vh;
      font-size: medium;
   }

}

@media only screen and (min-width: 481px) and (max-width: 767px) {
   #agenda {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block: 20vh;
      height: fit-content;
      width: fit-content;
   }

   #agenda_description {
      position: relative;
      margin: 0 auto;
      
     z-index: 0;
      width: 78vw;
      margin: auto;
   }

   #agenda_description h1 {
      text-align: center;
      padding: 3vh;
      font-size: xx-large;
      margin-block: 2vh;
   }


   

   agendaSlide {
      display: flex;
      aspect-ratio: 1/1;
      scroll-snap-type: x mandatory;
      overflow-x: auto;
      scroll-behavior: smooth;

   }

   .topic .topic_description {
      padding: 3vw;
      margin-top: 1vh;
      
   }

   .topic h2 {
      font-size: 28px;
      padding-block-start: 1vh;
      padding-inline-start: 1rem;
   }

   .topic h4 {
      padding: 0.5rem 0;

      font-size: 20px;
   }

   .topic p {
      font-size: 15px;
   }

   .topic note p {
      padding-block: 3vh;
      font-size: 19px;
   }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
   #agenda {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block: 20vh;
      height: fit-content;
      width: fit-content;
   }

   #agenda_description {
      position: relative;
      margin: 0 auto;
      
     z-index: 0;
      width: 78vw;
      margin: auto;
   }

   #agenda_description h1 {
      text-align: center;
      padding: 3vh;
      font-size: xx-large;
      margin-block: 2vh;
   }



 

   agendaSlide {
      display: flex;
      aspect-ratio: 4/1.9;
      scroll-snap-type: x mandatory;
      overflow-x: auto;
      scroll-behavior: smooth;

   }

   .topic .topic_description {
      padding: 3vw;
      margin-top: 1vh;
      
   }

   .topic h2 {
      font-size: 35px;
      padding-block-start: 1vh;
      padding-inline-start: 1rem;
   }

   .topic h4 {
      padding: 0.5rem 0;

      font-size: x-large;
   }

   .topic p {
      font-size: 16px;
   }

   .topic note p {
      padding-block: 3vh;
      font-size: medium;
   }

}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
   #agenda {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block: 20vh;
      height: fit-content;
      width: fit-content;
   }

   #agenda_description {
      position: relative;
      margin: 0 auto;
      
     z-index: 0;
      width: 78vw;
      margin: auto;
   }

   #agenda_description h1 {
      text-align: center;
      padding: 3vh;
      font-size: xx-large;
      margin-block: 2vh;
   }




  

   agendaSlide {
      display: flex;
      aspect-ratio: 4/1.5;
      scroll-snap-type: x mandatory;
      overflow-x: auto;
      scroll-behavior: smooth;

   }

   .topic .topic_description {
      padding: 3vw;
      margin-top: 1vh;
      
   }

   .topic h2 {
      font-size: 35px;
      padding-block-start: 1vh;
      padding-inline-start: 1rem;
   }

   .topic h4 {
      padding: 0.5rem 0;

      font-size: xx-large;
   }

   .topic p {
      font-size: 18px;
   }

   .topic note p {
      padding-block: 3vh;
      font-size: 20px;
   }

}


@media only screen and (min-width: 1200px) and (max-width: 1440px) {
   #agenda {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block: 20vh;
      height: fit-content;
      width: fit-content;
   }

   #agenda_description {
      position: relative;
      margin: 0 auto;
      
     z-index: 0;
      width: 78vw;
      margin: auto;
   }

   #agenda_description h1 {
      text-align: center;
      padding: 3vh;
      font-size: xx-large;
      margin-block: 2vh;
   }



   

   agendaSlide {
      display: flex;
      aspect-ratio: 16/5;
      scroll-snap-type: x mandatory;
      overflow-x: auto;
      scroll-behavior: smooth;

   }

   .topic .topic_description {
      padding: 3vw;
      margin-top: 1vh;
      
   }

   .topic h2 {
      font-size: 42px;
      padding-block-start: 1vh;
      padding-inline-start: 1rem;
   }

   .topic h4 {
      padding: 0.5rem 0;

      font-size: xx-large;
   }

   .topic p {
      font-size: 18px;
   }

   .topic note p {
      padding-block: 3vh;
      font-size: 20px;
   }

}



@media only screen and (min-width: 1441px) and (max-width: 1920px) {
   #agenda {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block: 20vh;
      height: fit-content;
      width: fit-content;
   }

   #agenda_description {
      position: relative;
      margin: 0 auto;
      
     z-index: 0;
      width: 78vw;
      margin: auto;
   }

   #agenda_description h1 {
      text-align: center;
      padding: 3vh;
      font-size: xx-large;
      margin-block: 2vh;
   }



   agendaSlide {
      display: flex;
      aspect-ratio: 16/5;
      scroll-snap-type: x mandatory;
      overflow-x: auto;
      scroll-behavior: smooth;

   }

   .topic .topic_description {
      padding: 3vw;
      margin-top: 1vh;
      
   }

   .topic h2 {
      font-size: 42px;
      padding-block-start: 1vh;
      padding-inline-start: 1rem;
   }

   .topic h4 {
      padding: 0.5rem 0;

      font-size: xx-large;
   }

   .topic p {
      font-size: 18px;
   }

   .topic note p {
      padding-block: 3vh;
      font-size: x-large;
   }

}


@media only screen and (min-width: 1921px) {
   #agenda {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block: 20vh;
      height: fit-content;
      width: fit-content;
   }

   #agenda_description {
      position: relative;
      margin: 0 auto;
      
     z-index: 0;
      width: 78vw;
      margin: auto;
   }

   #agenda_description h1 {
      text-align: center;
      padding: 3vh;
      font-size: xx-large;
      margin-block: 2vh;
   }


 

   agendaSlide {
      display: flex;
      aspect-ratio: 25/16;
      scroll-snap-type: x mandatory;
      overflow-x: auto;
      scroll-behavior: smooth;

   }

   .topic .topic_description {
      padding: 3vw;
      margin-top: 1vh;
      
   }

   .topic h2 {
      font-size: 42px;
      padding-block-start: 1vh;
      padding-inline-start: 1rem;
   }

   .topic h4 {
      padding: 0.5rem 0;

      font-size: xx-large;
   }

   .topic p {
      font-size: 18px;
   }

   .topic note p {
      padding-block: 3vh;
      font-size: x-large;
   }

}
