* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}


:root {
  max-height: fit-content;
}

body {
  background-image: url("https://wallpapercave.com/wp/wp7488250.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  max-height: 800px;
  width: 100%;
  z-index: -5;
  overflow-x: hidden;

}

.call-to-action {
  padding-inline: 30px;
  padding-block: 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: x-large;
  margin-inline: auto;
  margin-block: -4px;
  z-index: 100;
}

.call-to-action::before {
  border: none;
  background-color: none;
}

.call-to-action:hover {
  background-color: white;
  cursor: pointer;
  color: rgb(2, 2, 2);

}

.call-to-action:hover:before {
  border: none;
  background-color: none;
}

body::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.683);
  position: absolute;
  height: 3000%;
  width: 100vw;
  z-index: -5;
  top: -300px;
  background-attachment: fixed;

}

#navbar {
  position: fixed;
  top: 0;
  background: linear-gradient(to right, #870000, #190a05);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  right: 0;
  left: 0;
  padding-inline: 20px;
  padding-block: 10px;
  background-color: rgba(238, 4, 86, 0.772);
  transition: linear 0.9s, backgound-color 0.9s;
  z-index: 5;
}

#navbar i {
  color: wheat;
  padding: 5px;
  font-size: medium;
  cursor: pointer;
}

#navbar menu {
  width: 90em;
  background: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  transition: background-color 2s;
  right: 0;
}

.menu-item {
  margin: 0 15px;
}

#navbar a {
  text-decoration: none;
  color: white;
  padding-inline: 10px;
  padding-block: 5px;
  position: relative;
  transition: 0.4s linear;
  font-size: larger;
}

#navbar a:hover {
  color: yellow;
}

#navbar a::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  border-bottom: 2px solid wheat;
  transition: 0.4s linear;
}

#navbar a:hover:before {
  width: 100%;
}



.hamburger {

  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: none;

}

.hamburger span {
  background-color: #fff;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width: 100%;
  height: 4px;
  transition-duration: 500ms
}

.hamburger span:nth-child(1) {
  top: 0px;
  left: 0px;
}

.hamburger span:nth-child(2) {
  top: 13px;
  left: 0px;
  opacity: 1;
}

.hamburger span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.hamburger:not(.open):hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}

.hamburger:not(.open):hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}

.hamburger:not(.open):hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}



.menu-mobile {
  visibility: hidden;

}

.placeholder {
  height: 50px;
}

main {
  width: 90vw;
  min-height: 70rem;
  max-height: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-inline: auto;
  position: relative;
  z-index: 4;

}

section {
  border: 2px solid white;
  border-radius: 20px;
  padding: 20px 20px;
  color: white;
  text-align: justify;
  width: 80vw;
  z-index: 0;
}


::-webkit-scrollbar {
  width: 0.3px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: none;
}

::-webkit-scrollbar-thumb:hover {
  background: none;
}


@media (max-width:650px) {
  .cta_desktop {
    display: none;
  }

  .call-to-action {
    padding-inline: 30px;
    padding-block: 10px;
    background-color: transparent;

    font-size: large;

    margin-left: 10px;
    margin-block: -4px;
    z-index: 100;
  }

  #navbar {
    background-color: rgba(0, 0, 0, 0.8);
    background: transparent;
    width: max-content;

  }

  #navbar i {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3vw;
    border-radius: 10px;
    border: 2px solid wheat;
  }

  .menu-mobile {
    margin-block: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 60rem;
    padding: 20px;
    border-radius: 10px;
    display: none;
    position: fixed;
    transition: transform ease-in-out 0.6s;
    visibility: visible;
    transform: translateX(0%);
    z-index: 10;

  }


  .menu-mobile div {
    margin-bottom: 15px;

  }

  .menu-mobile a {
    font-size: medium;
    color: white;

    text-decoration: none;


    padding: 10px;

  }


  .menu-mobile a:hover {
    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 5px;

  }


  .hamburger {
    display: inline-block;
    position: fixed;
    right: 0;
    top: 5px;


  }

  main {
    margin-block: 20vh
  }

  .placeholder {
    height: 300px;
  }
}

@media screen and (min-width: 1080px) {
  .placeholder {
    height: 500px;
  }
}